.chart rect {
  fill: #ddd;
}

.axis text {
  font: 16px sans-serif;
  fill: #ddd;
}

.axis path,
.axis line {
  fill: none;
  stroke: #ddd;
  shape-rendering: crispEdges;
}

.chart {
  background-color: #333;
  border-radius: 10px;
  position: absolute;
  left: 10px;
  top: 10px;
  box-shadow: 8px 8px 15px #111;
}

.title {
  font-size: 36px;
  fill: #ddd;
}

.tooltip {
  position: absolute;
  text-align: left;
  width: auto;
  height: auto;
  padding: 3px 5px;
  font: 1.2em sans-serif;
  border: 1px solid black;
  border-radius: 5px;
  pointer-events: none;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
  background-color: #ddd;
}
